* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

button {
  background: none;
  border: none;
}
/* top header */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: #fff;
  background-color: #000;
}

.top-header a {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0.5px 0px 0px #fff;
}

.top-header button {
  padding: 9px 30px 7px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.top-header button span {
  margin-right: 10px;
}

i.user-icon {
  font-size: 20px;
}

.top-header button:hover {
  color: #000;
  background-color: #eee;
}

.top-header button:not(:first-child) {
  border-left: 2px solid #fff;
}

/* header */
header {
  height: 79px;
  background-color: #fff;
  padding: 13px 0;
  border-bottom: 1px solid #000;
}

.logo {
  display: block;
  width: 153px;
  margin-right: 5px;
  text-decoration: none;
}
.logo img {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 15px;
}

.nav {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.nav ul {
  margin-bottom: 0;
  padding: 0;
  margin-left: 10px;
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-link {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  padding: 7.5px 15px;
}

.nav-link:hover {
  color: #006da4;
}

.search-wrapper {
  display: flex;
  width: 300px;
  height: 46px;
  max-height: 46px;
  border: 1px solid #1c1d1d;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
}

.search-wrapper input {
  padding: 5px 10px;
  border: none;
  outline: none;
  flex: 1;
  min-width: 150px;
  color: #1c1d1d;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}

.search-wrapper button {
  font-size: 20px;
  padding-right: 15px;
}

.nav-icons {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.nav-icons div {
  padding: 7.5px 15px;
  font-size: 20px;
  cursor: pointer;
}

.flag-icon {
  background-image: url("https://cdn.shopify.com/s/files/1/0585/8181/1355/t/13/assets/ly-icon-vi.svg?v=22737567735801188511650966804");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1.33333333em;
  height: 1rem;
}

/* banner */
.banner {
  margin-bottom: 6px;
}

.banner.sale {
  height: 245px;
}

.banner.ads {
  height: 562x;
}

.banner.footer-banner {
  height: 200px;
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* nav button */
.nav-btns-wrapper {
  margin: 28px auto;
  padding: 40px 5px;
  display: flex;
  max-width: 1020px;
}
.nav-btn {
  margin: 0 12px;
  text-align: center;
  width: 25%;
}

.nav-btn a {
  display: block;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.nav-btn a:hover {
  background-color: #000;
  color: #fff;
}

.category {
  margin: 30px -10px 30px 0;
}

.cate {
  display: block;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 10px;
  height: 100%;
}

.cate img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.text-box {
  position: absolute;
  bottom: 0;
  background-color: rgba(255,255,255,.8);
  padding: 3px 8px;
  width: 100%;
}

.cate:hover {
  box-shadow: 0 3px 10px rgb(52 54 73 / 20%);
}
.cate:hover .text-box p {
  text-decoration: underline;
}

.text-box p {
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  mask-image: linear-gradient(to right,rgba(0,0,0,1) 90%,rgba(0,0,0,0));
  font-weight: 700;
  line-height: 1.5;
  color: #1c1d1d;
  font-size: 16px;
}

/* section */
.section-new {
  background-color: #e9f8fc;
}
.section-suggest {
  background-color: #f6f1b4;
}
.section-jibbitz {
  background-color: #f6f3f7;
  padding-bottom: 30px;
}

.section-title {
  font-size: 25.5px;
  font-weight: 700;
  padding: 40px 0;
}

.text-center .section-title {
  font-size: 40px;
  text-transform: uppercase;
}

/* slider */

.slider {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  padding: 0 50px;
}

.slider-wrap {
  display: flex;
  /* position: relative; */
  flex: 1;
  margin-bottom: 30px;
  align-items: center;
  overflow: hidden;
}

.arrow-btn {
  width: 38px;
  height: 38px;
  padding: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.2 linear;
}
.arrow-btn:hover {
  width: 40px;
  height: 40px;
}

.arrow-btn.next-btn {
  right: 0;
}
.arrow-btn.prev-btn {
  left: 0;
}

/* product card */

.product-card {
  flex: 0 0 auto;
  width: 25%;
  padding: 0 11px;
  position: relative;
  left: 0;
  transition: all 0.3 ease-in-out;
}
.card-jibbitz {
  width: 20%;
  padding: 0 6px;
}
.slider .product-card {
  padding: 0 5px;
}

.product-card:hover {
  filter: drop-shadow(0px 0px 3px rgba(0,0,0,.25))
}

.product-card a {
  display: block;
  text-decoration: none;
  color: #1c1d1d;
  position: relative;
  background-color: #fff;
  min-height: 420px;
}

.product-card a::before {
  display: block;
  position: absolute;
  top: 13px;
  right: 13px;
  font-size: 14px;
  padding: 7px 9px;
  font-weight: 700;
  text-transform: uppercase;
}
.product-card.new a::before {
  content: "Má»›i";
  color: #2c79ad;
}
.product-card.sale a::before {
  content: "Sale";
  color: #d70000;
}

.card-img {
  padding-top: 100%;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-title {
  font-size: 14px;
  min-height: 42px;
  text-transform: capitalize;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 12px;
}

.card-body {
  padding: 10px 5px 30px 5px;
  text-align: center;
}

.card-rating {
  font-size: 12px;
  color: #2E3843;
  margin-bottom: 8px;
}

.card-price {
  font-weight: 700;
  min-height: 47px;
  font-size: 18px;
  color: #1c1d1d;
  line-height: 1.3;
}
.price-org {
  font-size: 14px;
  display: block;
}
.price-sale {
  color: #d70000;
  font-size: 18px;
}

/* end card */
/* collection */
.collection {
  display: block;
  position: relative;
  padding: 10px 30px 30px;
}
.collection::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.04;
  z-index: 2;
}
.cate .collection+.text-box {
  bottom: 16px;
  left: 2px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #1c1d1d;
}

.cate .collection+.text-box p {
  font-size: 16px;
  font-weight: 700;
}

/* top footer */
.top-footer {
  width: 100%;
  padding: 20px 0 30px;
  border-top: 2px solid #225b80;
}
.top-footer-icon {
  margin-right: 15px;
}
.top-footer-icon svg {
  width: 70px;
  height: 70px;
  vertical-align: middle;
  padding: 8px;
  border: 2px solid #225b80;
  border-radius: 2px;
  fill: #225b80;
}

.top-footer-title {
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  font-weight: 700;
  border-bottom: 2px solid currentColor;
  padding-bottom: 3px;
  font-size: 16px;
  margin-bottom: 4px;
  color: #225b80;
}

.top-footer-content {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
}