@charset "UTF-8";
::-webkit-scrollbar {
  width: 7px;
  background-color: transparent !important;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: #a6aaab;
  border-radius: 70px;
  border: 3px solid transparent;
  background-clip: content-box;
}

body {
  background-color: #fff !important;
}

#main {
  margin-top: 118px;
  width: 100vw;
  height: auto;
}
#main .main--top {
  padding: 30px 0 0;
}
#main .main--top .main--top__inner {
  padding: 0 20px;
}
#main .main--top .main--top__inner h3 {
  margin-bottom: 15px;
  color: #1c1d1d;
  display: inline;
  font-family: "Montserrat";
  font-size: 19.5px;
  font-weight: bold;
  line-height: 27.3px;
  text-shadow: #ffffff 0.5px 0px 0px;
}
#main .main--top .main--top__inner p {
  color: #1c1d1d;
  font-family: "Nunito";
  font-size: 18px;
  line-height: 23px;
  margin: 15px 0px;
  text-shadow: #ffffff 0.5px 0px 0px;
}
#main .main--top .main--top__inner .viewAll {
  font-family: "Montserrat";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 10px;
}
#main .main--top .main--top__inner .viewAll a {
  text-decoration: none;
}
#main .main--top .main--top__inner .viewAll a span {
  color: #006da4;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}
#main .main--top .main--top__inner .viewAll span {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
#main .main--content {
  width: 100vw;
  padding: 0 30px;
}
#main .main--content .main--content__inner {
  width: 100%;
  padding: 20px 5px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
#main .main--content .main--content__inner .sidebar {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 0 30px 0;
  background-color: #f9f9f9;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid gray;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(1):last-child {
  border-bottom: 1px solid #f9f9f9;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(1) .sidebar--option--hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(1) .sidebar--option--hd span {
  padding: 20px 0 10px 10px;
  font-family: "Nunito";
  font-weight: 700;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(1) .sidebar--option--hd i {
  cursor: pointer;
  display: block;
  margin: 15px 5px 5px 0;
  padding: 5px;
  transition: transform 0.2s ease;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(1) .rotate {
  transform: rotate(45deg);
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(1) .sidebar--option--ct {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(1) .sidebar--option--ct ul {
  width: calc(-moz-min-content * 2);
  width: calc(min-content * 2);
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(1) .sidebar--option--ct ul li {
  flex-basis: calc(50% - 10px);
  width: 100%;
  margin-bottom: 10px;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(1) .sidebar--option--ct ul li button {
  width: 144px;
  height: 88px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  border: none;
  transition: font-weight 0.3s ease-in-out;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(1) .sidebar--option--ct ul li button:hover {
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid gray;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(2):last-child {
  border-bottom: 1px solid #f9f9f9;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(2) .sidebar--option--hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(2) .sidebar--option--hd span {
  padding: 20px 0 10px 10px;
  font-family: "Nunito";
  font-weight: 700;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(2) .sidebar--option--hd i {
  cursor: pointer;
  display: block;
  margin: 15px 5px 5px 0;
  padding: 5px;
  transition: transform 0.2s ease;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(2) .rotate {
  transform: rotate(45deg);
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(2) .sidebar--option--ct {
  padding: 0 10px;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(2) .sidebar--option--ct ul {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(2) .sidebar--option--ct ul li {
  flex-basis: calc(50% - 10px);
  width: 100%;
  margin-bottom: 10px;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(2) .sidebar--option--ct ul li button {
  width: 124px;
  height: 36px;
  background-color: #fff;
  border: 1px solid grey;
  border: none;
  border-radius: 5px;
  transition: font-weight 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: background-color 0.3s ease-in-out;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(2) .sidebar--option--ct ul li button:hover {
  background-color: #ebebeb;
  font-weight: bold;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid gray;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3):last-child {
  border-bottom: 1px solid #f9f9f9;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--hd span {
  padding: 20px 0 10px 10px;
  font-family: "Nunito";
  font-weight: 700;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--hd i {
  cursor: pointer;
  display: block;
  margin: 15px 5px 5px 0;
  padding: 5px;
  transition: transform 0.2s ease;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .rotate {
  transform: rotate(45deg);
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct {
  padding: 0 10px;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li button {
  cursor: pointer;
  padding-right: 10px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  text-transform: capitalize;
  color: #333;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .black {
  background-color: #000000;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .black:hover {
  border: 1px solid black;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .blue {
  background-color: #0000ff;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .blue:hover {
  border: 1px solid yellow;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .bone-black {
  background-color: #1c1c1c;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .bone-black:hover {
  border: 1px solid #1c1c1c;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .brown {
  background-color: #a52a2a;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .brown:hover {
  border: 1px solid #2aa5a5;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .cork {
  background-color: #402d20;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .cork:hover {
  border: 1px solid #203340;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .green {
  background-color: #008000;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .green:hover {
  border: 1px solid purple;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .grey {
  background-color: #808080;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .grey::hover {
  border: 1px solid gray;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .guava {
  background-color: #ff7f50;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .guava:hover {
  border: 1px solid #50d0ff;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .khaki-multi {
  background-color: #c3b091;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .khaki-multi:hover {
  border: 1px solid #91a4c3;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .multicolor {
  background-color: linear-gradient(to right, #ff0000, #ff8000, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3);
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .multicolor:hover {
  border: 1px solid #91a4c3;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .navy {
  background-color: #000080;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .navy:hover {
  border: 1px solid olive;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .orange {
  background-color: #ff6600;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .orange:hover {
  border: 1px solid #0099ff;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .persimmon {
  background-color: #ff6347;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .persimmon:hover {
  border: 1px solid #47e3ff;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .pink {
  background-color: #ffc0cb;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .pink:hover {
  border: 1px solid #c0fff4;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .purple {
  background-color: #800080;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .purple:hover {
  border: 1px solid green;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .red {
  background-color: #ff0000;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .red:hover {
  border: 1px solid aqua;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .white {
  background-color: #ffffff;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .white:hover {
  border: 1px solid white;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .yellow {
  background-color: #ffff00;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(3) .sidebar--option--ct ul li .yellow:hover {
  border: 1px solid blue;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(4) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid gray;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(4):last-child {
  border-bottom: 1px solid #f9f9f9;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(4) .sidebar--option--hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(4) .sidebar--option--hd span {
  padding: 20px 0 10px 10px;
  font-family: "Nunito";
  font-weight: 700;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(4) .sidebar--option--hd i {
  cursor: pointer;
  display: block;
  margin: 15px 5px 5px 0;
  padding: 5px;
  transition: transform 0.2s ease;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(4) .rotate {
  transform: rotate(45deg);
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(4) .sidebar--option--ct {
  padding: 0 10px;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(4) .sidebar--option--ct ul {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#main .main--content .main--content__inner .sidebar .sidebar--option:nth-child(4) .sidebar--option--ct ul li {
  font-family: "Nunito";
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
}
#main .main--content .main--content__inner .collection {
  flex-basis: 75%;
  position: relative;
}
#main .main--content .main--content__inner .collection .collection-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main .main--content .main--content__inner .collection .collection-filter select {
  width: 180px;
  padding: 10px 7px;
  border: 1px solid grey;
}
#main .main--content .main--content__inner .collection .products {
  margin-top: 20px;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}
#main .main--content .main--content__inner .collection .products .product {
  position: relative;
  flex-basis: calc(25% - 10px);
  margin-bottom: 20px;
  height: 464px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#main .main--content .main--content__inner .collection .products .product:first-child:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23), 0 1px 3px rgba(0, 0, 0, 0.24);
}
#main .main--content .main--content__inner .collection .products .product:not(:first-child):hover {
  border: 1px solid #fff;
}
#main .main--content .main--content__inner .collection .products .product:not(:first-child):hover .product__inner {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23), 0 1px 3px rgba(0, 0, 0, 0.24);
  transition: height 0.3s ease-in-out;
}
#main .main--content .main--content__inner .collection .products .product:not(:first-child):hover .product__inner .extend button.btn-xh {
  opacity: 1 !important;
  margin-top: 45px !important;
}
#main .main--content .main--content__inner .collection .products .product:not(:last-child) {
  margin-right: 10px;
}
#main .main--content .main--content__inner .collection .products .product .product__inner {
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#main .main--content .main--content__inner .collection .products .product .product__inner img {
  width: 100%;
  height: 442px;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .main--content .main--content__inner .collection .products .product .product__inner .top img {
  width: 100%;
  height: 217px;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .main--content .main--content__inner .collection .products .product .product__inner .top span.tag {
  font-family: "Montserrat";
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #006da4;
}
#main .main--content .main--content__inner .collection .products .product .product__inner .top p.title {
  height: 45px;
  margin: 0px 0 20px 0;
  font-family: "Nunito";
  font-size: 14px;
}
#main .main--content .main--content__inner .collection .products .product .product__inner .top ul.star {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
#main .main--content .main--content__inner .collection .products .product .product__inner .top p.cost {
  text-align: center;
}
#main .main--content .main--content__inner .collection .products .product .product__inner .extend {
  width: 100%;
}
#main .main--content .main--content__inner .collection .products .product .product__inner .extend button.btn-xh {
  width: 100%;
  border: none;
  outline: none;
  font-family: "Nunito";
  background-color: #006da4;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  margin: 15px 0px 0px;
  padding: 5px;
  text-align: center;
  opacity: 0; /* ẩn button */
  transition: opacity 0.3s ease-in-out;
}
#main .main--content .main--content__inner .collection .products .product .product__inner .extend button.btn-xh:hover {
  background-color: #225b80;
}
#main .main--content .main--content__inner .collection .products .product .product__inner .extend ul.color-list {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#main .main--content .main--content__inner .collection .products .product .product__inner .extend ul.color-list .color {
  width: 24px;
  height: 24px;
}
#main .main--content .main--content__inner .collection .products .product .product__inner .extend ul.color-list .color:hover {
  border: 1px solid black;
}
#main .main--content .main--content__inner .collection .products .product .product__inner .extend ul.color-list .color-1 {
  border: 1px solid grey;
  border-radius: 50%;
  background-color: #fff;
}
#main .main--content .main--content__inner .collection .products .product .product__inner .extend ul.color-list .color-2 {
  border: 1px solid grey;
  border-radius: 50%;
  background-color: #bab7b8;
}
#main .main--content .main--content__inner .collection .products .product .product__inner .extend ul.color-list .color-3 {
  border: 1px solid grey;
  border-radius: 50%;
  background-color: #000;
}
#main .main--content .main--content__inner .collection .products .product .product__inner .extend ul.color-list .color-4 {
  border: 1px solid grey;
  border-radius: 50%;
  background-color: #e4ddcd;
}
#main .main--content .main--content__inner .collection .collection-route {
  margin-top: 45px;
  margin-bottom: 30px;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .main--content .main--content__inner .collection .collection-route .btn-route {
  margin-right: 20px;
  border: 1px solid black;
  align-items: flex-start;
  background-color: #000000;
  color: #ffffff;
  display: inline-block;
  font-family: "Nunito";
  line-height: 22px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
}
#main .main--content .main--content__inner .collection .collection-route .btn-route:hover {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}
#main .main--content .main--content__inner .collection .collection-route a {
  font-family: "Nunito";
  text-decoration: none;
  color: black;
}
#main .main--content .main--content__inner .collection .collection-route a:hover {
  color: #006da4;
}
#main .main--content .main--content__inner .collection .collection-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
#main .main--content .main--content__inner .collection .collection-bottom p {
  font-family: "Nunito";
}
#main .main--content .main--content__inner .collection .collection-bottom p:first-child {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: bold;
}
#main .main--gallery {
  width: 100vw;
  margin-bottom: 40px;
}
#main .main--gallery .main--gallery__inner {
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main .main--gallery .main--gallery__inner .top {
  width: 100%;
}
#main .main--gallery .main--gallery__inner .top h2 {
  font-family: "Montserrat";
}
#main .main--gallery .main--gallery__inner .top p {
  font-family: "Nunito";
  font-size: 12px;
}
#main .main--gallery .main--gallery__inner .top p:last-child {
  font-size: 16px;
  text-align: right;
  font-weight: 600;
}
#main .main--gallery .main--gallery__inner .gallery {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#main .main--gallery .main--gallery__inner .gallery .gallery-item {
  width: 25%;
  height: calc(25vw - 15px);
  cursor: pointer;
}
#main .main--gallery .main--gallery__inner .gallery .gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: hover all 0.3s;
}
#main .main--gallery .main--gallery__inner .gallery .gallery-item img:hover {
  scale: 1.1;
}/*# sourceMappingURL=nu.css.map */